@import "animaciones.css";
@import "mediaqueries.css";

body {
    background-color: beige;
}
nav {
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;

}

nav button{
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 20px;

}

nav img {
    border-radius: 20px; 
}

a {
    text-decoration: none!important; 
    color: rgb(255, 32, 125)!important;
}

.section {

    border-radius: 20px;     
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

img {
    border-radius: 2%; 
    object-fit: cover; 
}

h1 {
    text-align: center;
}

article {
    
    display: flex;
    flex-direction: row;

}

.content {
    background-color: lightpink;
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px; 
    border-radius: 40px;
    text-align: center;
    
}


.container {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px; 
}

.centrado {
    align-content: center;
}

.item {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    font-size: 2rem; 
    color: #007bff; 
    margin-right: 10px; 
  
    
}
  
.footer-text {
   
    text-align: center;
    margin-top: 10px; 
}



