@import "animaciones.css";
@import "mediaqueries.css";

body {
    background-color: beige;
}
nav {
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;

}

nav button{
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin-left: 20px;

}

nav img {
    border-radius: 20px; 
}

a {
    text-decoration: none!important; 
    color: rgb(255, 32, 125)!important;
}

.section {

    border-radius: 20px;     
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

img {
    border-radius: 2%; 
    object-fit: cover; 
}

h1 {
    text-align: center;
}

article {
    
    display: flex;
    flex-direction: row;

}

.content {
    background-color: lightpink;
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px; 
    border-radius: 40px;
    text-align: center;
    
}


.container {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px; 
}

.centrado {
    align-content: center;
}

.item {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    font-size: 2rem; 
    color: #007bff; 
    margin-right: 10px; 
  
    
}
  
.footer-text {
   
    text-align: center;
    margin-top: 10px; 
}

/*login*/

.login-container {
    text-align: center;
    border: 1px solid hsl(308, 55%, 63%);
    background-color: #f2abee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ajusta el ancho máximo del contenedor según tu diseño */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label,
.login-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Espacio entre los elementos */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.login-container input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #555;
}
